<h1> this is the ask page</h1>
<form action="/answer" method="get">
  <div class="dave">
    <input type="text" id="question" name="question">
    <input type="submit" id="submit" value="Ask!">
  </div>
</form>